---
layout: default
author_profile: false
---
<div>
    <span>
        <div class="wd-code-background">
            <span>/**</span><br/>
            <span> * </span><span class="code-comment">Home for some weird development stuff.<br/></span>
            <span> * </span><br/>
            <span> * </span><span class="code-see">@see </span><span><a class="code-see-ref" href="/.log/">.log JetBrains IDE plugin</a><br/></span>
            <span> * </span><span class="code-see">@see </span><span><a class="code-see-ref" href="/testme/">TestMe IntelliJ IDEA plugin</a><br/></span>
            <span> */</span>
        </div>
    </span>
</div>
<!--alt. header-->
<!--<div class="weird-intro page__hero&#45;&#45;overlay" style="background-color: #5e616c;">
  <div class="wrapper">
    <img class="wd-logo-medium" src="/assets/images/wd-logo-medium.png" alt="WeirdDev">
    <div class="comic shadowy turquoise-glow" style="float: left;">
      <p class="bigger-intro">Home for some weird development stuff.</p>
      <p class="smaller-intro">Most notably, <a class="testme-link" href="/testme/">TestMe IntelliJ IDEA plugin.</a></p>
    </div>
  </div>
</div>-->
<div id="main" role="main" style="max-width:none;">
  <div class="sidebar sticky" style="opacity:initial;">
    <div class="weird-logo-side" >
      <img src="/assets/images/wd-logo-pk-medium.png" class="weird-logo-side" alt="WeirdDev" >
    </div>
  </div>
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}
    <!--todo reuse this from splah instead of duplicating-->
    <section class="page__content" itemprop="text">
      <div style="float: left;">
        <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
        {% for post in paginator.posts %}
        {% include archive-single.html %}
        {% endfor %}
        {% include paginator.html %}
      </div>
    </section>
  </article>
</div>
