---
layout: splash
author_profile: false
---
<div class="comic shadowy" style="float: left;">
  <p class="bigger-intro">Home for some weird development stuff.</p>
  <p >Most notably, <a class="testme-link" href="/testme/quick-start/">TestMe IntelliJ IDEA plugin.</a></p>
</div>
<div style="float: left;">
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

  {% for post in paginator.posts %}
  {% include archive-single.html %}
  {% endfor %}

  {% include paginator.html %}
</div>
