---
layout: splash
author_profile: false
---
<div class="weird-intro wrapper page__hero--overlay" style="background-color: #ffffff; background-image: url('/assets/images/mm-home-page-creampaper.png')">
  <!--<div class="wrapper ">-->
  <h1 class="page__title" itemprop="headline">Weird.</h1>
  <p class="page__lead">1. <i><sub>adjective.</sub></i> Suggesting something supernatural; unearthly. <br/><span class="smaller"><i><a href="https://en.oxforddictionaries.com/definition/weird">Oxford Dictionary</a></i></span></p>
  <p class="page__lead">2. <i><sub>adjective.</sub></i> Excellent; wonderful; cool. <br/><span class="smaller"><i>The Dictionary of American Slang, Fourth Edition, <a href="http://www.dictionary.com/browse/weird">Dictionary.com</a></i></span></p>
  <span class="handy font-effect-crackle">oh well it also means...</span>
  <p class="page__lead">3. <i><sub>verb.</sub></i> Induce a sense of disbelief or alienation in someone. <br/><a  href="https://en.oxforddictionaries.com/definition/weird"><span class="smaller"><i>Oxford Dictionary</i></span></a></p>
  <span class="handy font-effect-crackle">...but lets focus on the positive aspects :)</span>
</div>
<div style="float: left;">
  <p class="shadowy">This is home for some weird development stuff.<p>
  <span>To be continued...</span>
</div>
<div style="float: left;">
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

  {% for post in paginator.posts %}
  {% include archive-single.html %}
  {% endfor %}

  {% include paginator.html %}
</div>
