.wd-logo-medium{
  width:15em;
  float:left;
}
//todo add media query

.weird-about.page__hero--overlay{
   a,
  .page__title,
  .page__lead{
    max-width: none;
    color: #101010;
     text-shadow: none;
  }
   background-size: auto;
   background-repeat: repeat;
  padding-left: 2em;
  padding-right: 1em;
  float: left;
  //margin-left: 12%;
}
.weird-intro.page__hero--overlay{
   a,
  .page__title,
  .page__lead{
    max-width: none;
    color: #101010;
     text-shadow: none;
  }
   background-size: auto;
   background-repeat: repeat;
   width: 100%!important;
  padding-left: 2em;
  padding-right: 1em;
  float: left;
  //margin-left: 12%;
}

div.weird-about .smaller {
  font-size: 50%;
}
.handy{
  font-family: $caveat;
  color: $handy-color!important;
  font-size: 1.7em;
  &.font-effect-crackle {
    color: $handy-color!important;
  }
  &.font-effect-putting-green {
    color: $handy-color!important;
    font-weight: bold;
  }
  &.bigger{
    font-weight: bold;
    font-size: 2.5em;
  }
}
div.comic.shadowy{
  float:left;
  margin: 2em;
}
.shadowy{
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  //color: #101010;
}
.deep-blue{
  color: $handy-color;
}
.turquoise-glow{
  color: #06DEEC;
}
.bigger-intro{
  font-size: 2.5em!important;
  margin: 0 0 0.3em;
}
.smaller-intro{
  font-size: 1.5em!important;
  margin: 0 0 0.3em;
}
.comic{
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}
.testme-link{
  color: #24EA75 !important;
  text-decoration: underline !important;
}

.wd-code-background{
  background-color:#2b2b2b;
  font-family: 'Courier New';
  font-size:2.3vw;
  color:#629755;
}
.code-comment{
  font-style:italic;
}
.code-see-ref{
  color:#F2F2F2;
  font-style:italic;
}
.code-see{
  font-weight:bold;
  font-style:italic;
}
.weird-logo-side {
  display: table-cell;
  vertical-align: top;
  width: 100px;
  height: 100px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}